/* reset inline */
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

/* reset lists */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* reset links */
a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #0a1902;
}

/* reset images */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  padding-top: 12px;
}

/* ** */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hide {
  display: none;
}
.navigation {
  display: none;
}
.board-header {
  display: none;
}

.board-content {
  display: none;
}

.board-table__header {
  display: none;
}

.container {
  width: 375px;
  /* height: 909px; */
  padding-left: 15px;
  padding-right: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  background: #f5f6fa;
  color: #5b5876;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Open Sans';
  font-weight: 600;
}

.header {
  display: flex;
  align-items: center;
  width: 343px;
  height: 40px;
  margin-bottom: 34px;
}

.header-menu {
  margin-right: 88px;
}

.header-title {
  margin-right: 21px;
}
.header-notification {
  margin-right: 11px;
}

.header-title__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #2d405a;
}

.centered {
  text-align: center;
}

.header-notification__wrap,
.header-userpic__wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-notification__wrap {
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-notification__bage {
  top: 10%;
  right: 14%;
  left: 48%;
  bottom: 52%;
  background-color: #f64e60;
  border: 2px solid #f5f6fa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7px;
}

.header-userpic__bage {
  top: 9%;
  right: -14%;
  left: 82%;
  bottom: 60%;
  background-color: #2dcc89;
  border: 2px solid #f5f6fa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7px;
}

.badge-quantity {
  font-family: 'Poppins';
  font-size: 7px;
  line-height: 1.4;

  color: #ffffff;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.search-bar--lg {
  display: none;
}
.has-search {
  width: 296px;

  margin-right: 26px;
}
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #b4b4b4;
}

.table {
  display: none;
}

.board-footer {
  display: none;
}

/* board details */
.board-details {
  background-color: #ffffff;
  border-radius: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 18px;
}
.board-details__header {
  display: flex;
  align-items: baseline;
  margin-bottom: 18px;
}

.board-details__button--back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid #2d405a;
  backdrop-filter: blur(5px);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 11px;
}
.board-details__longarrback {
  height: 10px;
}

.board-details__wrap {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: baseline;
}

.board-details__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  color: #2d405a;
}
.board-details__editpic {
  width: 24px;
  height: 24px;
  fill: #5b5876;
}

/* details info */
.board-details__info {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #f9f9fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 18px;

  padding-left: 14px;
  padding-right: 22px;
  padding-top: 11px;
  padding-bottom: 12px;
}

.board-details__infoblock {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50%);
  margin-bottom: 14px;
}

.board-details__infoblock:last-child {
  flex-basis: 100%;
}
.board-details__infoblock:last-child p {
  color: #ef5537;
}
.details-jobs__item {
  display: flex;
  justify-content: space-between;
}
/* .lighted {
  color: #ef5537;
} */

.board-details__infotitle {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  color: #78808a;
}

.board-details__infodata {
  font-size: 14px;
  line-height: 1.4;
  font-size: 17px;
  color: #3b414b;
  font-weight: 600;
}

.details-proposal {
  margin-bottom: 22px;
}

.details-proposals__headerpic {
  height: fit-content;
}
.details-proposals__headerwrap {
  display: flex;
  justify-content: space-between;
}
.details-proposals__headertop {
  order: 2;
}

.details-proposals__headerdown {
  margin-bottom: 10px;
}

.details-proposals__button {
  width: 100%;
  margin-top: 10px;
}

/* end board details */

/* projects */

.project {
  background: #ffffff;
  border-radius: 10px;
  padding-left: 16px;
  padding-top: 11px;
  padding-right: 15px;
  padding-bottom: 14px;
  margin-bottom: 16px;
}

.project-date,
.project-budjet {
  display: flex;
  align-items: center;
}

.project-title__image {
  height: 24px;
}

.project-title__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.project-title__text {
  width: 80%;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  color: #2d405a;
}

.project-type__text {
  margin-bottom: 5px;
}
.project-date__image {
  margin-right: 10px;
}
.project-budjet__image {
  margin-right: 12px;
}

.project-date__text,
.project-budjet__text,
.project-type__text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.6;
  color: #5b5876;
}

.container-lg {
  display: none;
}

.details-proposals__stars {
  display: flex;
}

.edit-image {
  animation: 1.5s blinker linear infinite;
}
@keyframes blinker {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.5;
    fill: #08376a;
  }
  100% {
    opacity: 1;
  }
}

.edit-image:hover {
  fill: tomato;
}

.board-details__longarrback {
  animation: 1.5s blinkerback linear infinite;
}

@keyframes blinkerback {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1440px) {
  /* .container-sm {
    display: none;
  }

  .container-lg {
    display: flex;
  } */

  .header {
    display: none;
  }

  .projects {
    display: none;
  }

  .container {
    width: 1440px;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  /* nav */
  .navigation {
    display: block;
    width: 270px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 40px;
  }
  .navigation-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
  }

  .navigation-list {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #56606d;
    opacity: 0.8;
  }

  .navigation-item {
    display: flex;
    align-items: center;
    width: 239px;
    height: 45px;
    padding-left: 30px;
    margin-bottom: 16px;
  }

  /* .navigation-item:hover {
    background-color: #ef5537;
    opacity: 0.15;
    color: #ef5537;
    border-radius: 0px 50px 50px 0px;
  } */
  .navigation-link {
    display: flex;
  }
  .navigation-link__image {
    margin-right: 20px;
    width: 25px;
    height: 20px;
  }

  .navigation-item:hover,
  .navigation-item:focus {
    background-color: rgba(239, 85, 55, 0.15);
    border-radius: 0px 50px 50px 0px;
  }

  .navigation-item:hover .navigation-link,
  .navigation-item:focus .navigation-link,
  .board-footer__leftarr:hover,
  .board-footer__leftarr:focus,
  .board-footer__rightarr:hover,
  .board-footer__rightarr:focus {
    color: #ef5537;
  }

  .navigation-item:hover svg,
  .navigation-item:focus svg,
  .table-editimage:hover svg,
  .table-editimage:focus svg,
  .board-footer__leftarr:hover svg,
  .board-footer__leftarr:focus svg,
  .board-footer__rightarr:hover svg,
  .board-footer__rightarr:focus svg,
  .board-details__edit:hover svg,
  .board-details__edit:focus svg {
    fill: #ef5537;
  }

  svg {
    fill: #56606d;
  }

  a:active body {
    background-color: red;
  }
  .current {
    background-color: rgba(239, 85, 55, 0.15);
    fill: #ef5537;
    color: #ef5537;
    border-radius: 0px 50px 50px 0px;
  }

  .board-projects {
    background: inherit;
    border-radius: 0;
  }

  /* board */
  .board {
    width: 1110px;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 17px;
    padding-top: 24px;
  }

  /* board-header */
  .board-header {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 50px;
    height: 54px;
  }

  .header-notification {
    margin-right: 40px;
  }
  .header-notification__wrap {
    width: 53px;
    height: 53px;
  }

  .header-userpic {
    margin-right: 10px;
  }

  .header-user__data {
    margin-right: 8px;
  }

  .header-userpic__wrap {
    width: 50px;
    height: 50px;
  }

  .header-userpic__image {
    width: 100%;
  }

  .header-notification__image {
    width: 28px;
    height: 30px;
  }

  .header-notification__bage {
    font-size: 9px;
  }

  .header-arrowdown {
    margin-top: 6px;
  }

  .header-user__name {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #2d405a;
  }

  .header-user__role {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #56606d;
  }
  /* end board-header */

  /* board-table */
  .board-content {
    display: block;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 18px;
  }

  .board-table__header {
    border-bottom: 1px solid #e8eff6;
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 24px;
  }

  .board-table__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 25px;
    line-height: 1.4;
    color: #2d405a;
    margin-bottom: 17px;
  }

  .search-bar {
    width: 444px;
  }
  .search-bar--sm {
    display: none;
  }
  .search-bar--lg {
    display: block;
  }

  .search-bar__options {
    display: none;
  }

  .board-table__thead {
    background: #f5f6fa;
    border-radius: 8px;
  }

  .project {
    display: none;
  }

  tr {
    border-bottom: 1px solid #e8eff6;
    height: 46px;
    margin-top: 18px;
  }

  th {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .table {
    display: table;
    margin-bottom: 0;
  }

  .table > thead {
    height: 55px;
    vertical-align: middle;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 1.7;
    color: #08376a;
  }

  .table-body {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    color: #5b5876;
  }

  .table-head tr {
    border-bottom: none;
    background: #f5f6fa;
    border-radius: 8px;
  }

  .table-editimage {
    display: flex;
    justify-content: end;
  }

  .table-editimage__image {
    width: 26px;
    height: 26px;
  }

  .righted {
    text-align: right;
  }
  /* end board-table */

  /* board-footer */

  .board-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 26px;
  }

  .board-paginator {
    display: flex;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: #78808a;
  }

  .board-footer__leftarr {
    display: flex;
    color: inherit;
  }

  .board-footer__leftarrpic {
    width: 14px;
    height: 14px;
    transform: scale(1.3);
    margin-right: 5px;
    margin-top: 3px;
  }
  .board-footer__rightarrpic {
    width: 14px;
    height: 14px;
    transform: scale(1.3);
    margin-top: 3px;
  }

  .board-footer__rightarr {
    display: flex;
    color: inherit;
  }

  .board-footer__prevtext {
    margin-right: 10px;
  }
  .board-footer__counter {
    margin-right: 15px;
  }
  .board-footer__nexttext {
    margin-right: 5px;
  }

  .search-bar--sm {
    display: none;
  }

  /* end board-footer */
  /* board details desktop */
  .board-details {
    padding-left: 19px;
    padding-right: 24px;
    padding-top: 16px;
  }

  .board-details__header {
    margin-bottom: 25px;
    align-items: center;
  }
  .board-details__button--back {
    margin-right: 16px;
  }

  .board-details__wrap {
    align-items: center;
  }
  .board-details__title {
    font-size: 24px;
  }

  /* details info */
  .board-details__info {
    height: 80px;
    flex-wrap: nowrap;
    padding-left: 24px;
    padding-right: 171px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 33px;
  }

  .board-details__infoblock {
    margin-bottom: 0;
    flex-basis: 100%;
  }

  .board-details__infotitle {
    font-size: 14px;
  }

  .board-details__infodata {
    font-size: 16px;
  }

  .lighted {
    color: #ef5537;
  }

  .details-brief {
    max-width: 844px;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
  }

  .details-brief__title {
    margin-bottom: 3px;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    color: #2d405a;
  }
  .details-brief__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #56606d;
  }
  .details-jobs {
    margin-bottom: 28px;
  }

  .details-jobs__title {
    margin-bottom: 12px;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    color: #2d405a;
  }

  .details-jobs__list {
    padding-left: 13px;
  }

  .details-jobs__item {
    width: 236px;
  }
  .details-jobs__text {
    margin-right: 32px;
  }

  .details-jobs__text,
  .details-jobs__price {
    display: inline;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.6;
    color: #595f68;
  }

  .details-proposal {
    padding: 24px 24px 18px 24px;
    background: #fafafa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 16px;
  }
  .details-proposals__title {
    width: 824px;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.4;
    color: #2d405a;
    margin-bottom: 20px;
  }

  .details-proposals__header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }
  .details-proposals__headerwrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .details-proposals__headertop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
  }
  .details-proposals__headerpic {
    margin-right: 12px;
  }

  .details-proposals__button {
    width: 101px;
    height: 35px;
    background-color: #ef5537;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
  }

  .details-proposals_username {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #2d405a;
  }

  .details-proposals__headerdown {
    display: flex;
    align-items: center;
  }

  .details-proposals__stars {
    display: flex;
  }

  .details-proposal__staricon {
    margin-right: 7px;
  }

  .details-proposal__staricon:last-child {
    margin-right: 10px;
  }

  .details-proposals__raitingvalue {
    margin-right: 6px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    color: #000000;
  }

  .details-proposals__reviews {
    margin-right: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #78808a;
  }

  .details-proposals__chat {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3;
    color: #ef5537;
  }

  .details-proposals__chatwrap {
    display: flex;
    align-items: center;
  }
  .details-proposals__chaticon {
    margin-right: 7px;
  }

  .details-proposals__texttitle {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
    color: #2d405a;
  }
  .details-proposals__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #56606d;
  }

  .details-proposals__readmore {
    color: #ef5537;
    cursor: pointer;
  }
  /* end board details desktop */
}
